<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../public/Image/a18db2f4a7b821c9bf6fef2ba2ada93a.jpeg" width="30" height="30" alt="" loading="lazy">
  </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Projects page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Services page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Contact me</a>
      </li>
    </ul>
  </nav>
  
 