<!DOCTYPE html>
<html>
  <header>
    <%- include('header'); %>
  </header>
  <head>
    <%- include('../../partials/head'); %>

  </head>

  <body class="container">
    <main>
      <div class="row">
        <div class="col-8">
          <%- include('../../partials/carousel') %>
        </div>
        <!-- <div class="col-4">
          <figure class="figure">
            <img src="Image/pong.gif" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">A game named 'PONG' I've been working on lately for my homework.</figcaption>
          </figure>
        </div> -->
      </div>
    </main>
    
  </body>
  <footer>
    <%- include('../../partials/footer') %>
  </footer>
</html>
