<meta charset="UTF-8">
<title>About me</title>

<body>
  <h1 style="text-align: center;">Welcome to my about page</h1>
  </body>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:20px; }
</style>
