<!DOCTYPE html>
<html>
  <header>
    <%- include('header'); %>
  </header>
  <head>
    <%- include('../../partials/head'); %>
  </head>
  
  <body class="container">
    
  </body>

  <footer>
    <%- include('../../partials/footer') %>
  </footer>

</html>
