<!DOCTYPE html>
<html>
  <header>
    <%- include('header'); %>
  </header>
  <head>
    <%- include('../../partials/head'); %>
  </head>
  
  <body class="container">
    
    <main style="padding-top: 50px; padding-bottom: 50px; margin-left: 5%; margin-right: 5%;">
      <div class="center-row">
        <div class="row">
          <div class="col-8" style="">
            <h1>Tsz Him Ng <span class="badge badge-primary">Lucas</span></h1>
            <p class="font-weight-light"> Obtained a Higher Diploma in Computer Engineering from HKU Space. Experienced Game Programmer with over 5 years of experience in mobile game development.
              Excellent reputation for resolving problems and achieving company goals. Recently returned to College.
              </p>
          <h4>Familar with:</h4>
          <ul class="list-group" style="padding-top: 5px;">
            <li class="list-group-item">C/C++, C#, Java, JavaScript</li>
            <li class="list-group-item">Unity 2D, cocos2d-x</li>
            <li class="list-group-item">NodeJS, ExpressJS</li>
            <li class="list-group-item">Blender, GIMP, Krita</li>
          </ul>
          </div>
          <div class="col-4" style="display:inline-block">
            <!-- <div class="text-right"> -->
              <img src="Image/aboutme.png" class="img-fluid" alt="..." style="max-height: 400px;">
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="text-center" style="padding-top: 5%; padding-bottom: 10px;">
        <a href="/files/Resume.pdf" download>
          <button type="button" class="btn btn-success">Download my resume here!</button>
        </a>
      </div>
    </main>
  </body>

  <footer>
    <%- include('../../partials/footer') %>
  </footer>

</html>
